---
import { pwaInfo } from 'virtual:pwa-info';
import QRScanner from '../components/QRScanner.jsx';
import PWAInstaller from '../components/PWAInstaller.astro';
---

<html>
  <head>
    <title>QR-Code Scanner</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {pwaInfo?.webManifest?.linkTag && <Fragment set:html={pwaInfo.webManifest.linkTag} />}
    <script src="/src/pwa.ts"></script>

  </head>
  <body style="font-family: Arial, sans-serif; text-align: center;">
    <h1>QR-Code Scanner</h1>
    <QRScanner client:only="react" />
  </body>
</html>